<% content_for(:title, "Ciders") %>

<% content_for(:navbar) do %>
  <li><a href="/">Home</a></li>
  <li><a href="/drinks">Ciders</a></li>
<% end %>

<div class="row">
  <div class="col-md-6 col-md-offset-2">
    <h1>Drinks</h1>
    <div class="container">
      <ul>
        <% @drinks.each do |drink| %>
        <li><%= link_to drink.name, drink_path(drink) %></li>
        <% end %>
      </ul>
      <hr>

      <%= link_to "New Drink", new_drink_path, :class => "btn btn-default btn-lg", id: "new_drink_js", remote: true %>

  </div>
</div>
</div>
