<% content_for(:title, "Ciders") %>

<% content_for(:navbar) do %>
  <li><a href="/">Home</a></li>
  <li><a href="/drinks">Ciders</a></li>
<% end %>

<h1>Drinks</h1>
<div class="container">
  <ul>
    <% @drinks.each do |drink| %>
      <li><%= link_to drink.name, drink_path(drink) %></li>
    <% end %>
  </ul>
  <hr>

  <%= link_to "New Drink", new_drink_path %>
</div>
