<% content_for(:title, "New Batch") %>

<% content_for(:navbar) do %>
  <li><a href="/">Home</a></li>
  <li><a href="/drinks">Ciders</a></li>
<% end %>

<h1>New Batch for <%= @drink.name %></h1>
<div class="container">
  <%= render 'form' %>
</div>
